<% content_for :page_title do %>
  <%= link_to Spree.t('admin.taxonomies.taxonomies'), spree.admin_taxonomies_path %> / <%= @taxonomy.root.name %>
<% end %>


<% content_for :page_actions do %>
  <%= button_link_to Spree.t('admin.taxonomies.edit_root_taxon'), spree.edit_admin_taxonomy_taxon_path(@taxonomy, @taxonomy.root.id), icon: 'edit.svg', class: 'no-wrap btn-outline-secondary align-self-center' %>
<% end %>


<div id="sortableTreeArea">
  <div class="row">
    <div class="col-12">

      <div class="card mb-3">
        <div class="card-header">
          <div class="row pb-0">
            <div class="col d-flex">
              <h5><%= @taxonomy.root.name %></h5>
            </div>
            <div class="col d-flex justify-content-end">
              <%= button_link_to Spree.t('admin.taxonomies.add_new_taxon'), spree.new_admin_taxonomy_taxon_path(@taxonomy.id), icon: 'add.svg', class: 'no-wrap btn btn-success align-self-center' %>
            </div>
          </div>
        </div>

        <% if @taxonomy.root.present? %>
          <div class="card-body p-0 bg-light" data-controller="sortable-tree" data-sortable-tree-handle-value=".move-handle">
            <div data-sortable-tree-parent-id-value="<%= @taxonomy.root.id %> ">

              <% if @taxonomy.root.children.present? %>
                <% @taxonomy.root.children.each do |root_children| %>
                     <%= build_taxonomy_tree(@taxonomy, root_children) %>
                <% end %>
              <% else %>
                <div class="alert alert-info no-objects-found m-5">
                  <%= raw Spree.t('admin.navigation.no_menu_items', menu: @taxonomy.root.name) %>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
