<% content_for :page_title do %>
  <%= link_to Spree.t('admin.taxonomies.taxonomies'), spree.admin_taxonomies_path %> / <%= @taxonomy.name %>
<% end %>

<div class="row pb-0">
  <div class="col-12">
    <div class="card rounded-top-only border-bottom-0">
      <div class="card-header">
        <h5 class="mb-0"><%= Spree.t('taxonomy_details') %></h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @taxonomy } %>
            <%= form_for [:admin, @taxonomy] do |f| %>
              <%= render partial: 'form', locals: { f: f } %>
              <div class="d-flex ">
                <%#= render partial: 'spree/admin/shared/edit_resource_links' %>
              </div>
            <% end %>
          </div>
          <div class="col-4 text-right">
            <%= button_link_to Spree.t('admin.taxonomies.add_new_taxon'), spree.new_admin_taxonomy_taxon_path(@taxonomy.id), icon: 'add.svg', class: 'no-wrap btn btn-success align-self-center mt-4' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="sortableTreeArea">
  <div class="row">
    <div class="col-12">

      <div class="card mb-3 rounded-bottom-only">
        <% if @taxonomy.root.present? %>
          <div class="card-body p-0 bg-light" data-controller="sortable-tree" data-sortable-tree-handle-value=".move-handle">
            <div data-sortable-tree-parent-id-value="<%= @taxonomy.root.id %> ">

              <% if @taxonomy.root.children.present? %>
                <% @taxonomy.root.children.each do |root_children| %>
                     <%= build_taxonomy_tree(@taxonomy, root_children) %>
                <% end %>
              <% else %>
                <div class="alert alert-info no-objects-found m-5">
                  <%= raw Spree.t('admin.navigation.no_menu_items', menu: @taxonomy.root.name) %>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
