<% content_for :page_title do %>
  <%= Spree.t(:template_promotions) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t('admin.template_promotions.new_template'), new_object_url, class: "btn-success", icon: 'add.svg' %>
<% end if can?(:create, Spree::Promotion) %>

<% content_for :table_filter do %>
  <div data-hook="admin_promotions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= label_tag :q_name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, tabindex: 1, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= label_tag :q_promotion_category_id_eq, Spree.t(:promotion_category) %>
            <%= f.collection_select(:promotion_category_id_eq, @promotion_categories, :id, :name, { include_blank: Spree.t('match_choices.all') }, { class: 'select2 js-filterable' }) %>
          </div>
        </div>
      </div>

      <div data-hook="admin_promotions_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @promotions.any? %>
  <div class="table-responsive border rounded bg-white">
    <table class="table">
      <thead class="text-muted">
      <tr>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:description) %></th>
        <th><%= Spree.t('admin.template_promotions.generated_promotions') %></th>
        <th><%= Spree.t(:expiration) %></th>
        <th data-hook="admin_promotions_index_header_actions" class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @promotions.each do |template| %>
        <tr id="<%= spree_dom_id template %>">
          <td><%= link_to template.name, spree.edit_admin_template_promotion_path(template) %></td>
          <td><%= template.description %></td>
          <td><%= link_to template.promotions_from_template.size, admin_template_promotion_promotion_batches_path(template) %></td>
          <td><%= template.expires_at.to_date if template.expires_at %></td>
          <td class="actions" data-hook="admin_promotions_index_row_actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit template, no_text: true if can?(:edit, template) %>
                <%= button_link_to '', admin_template_promotion_promotion_batches_path(template), class: 'btn btn-light btn-sm icon-link with-tip', icon: 'list.svg', data: { 'original-title' => Spree.t('admin.promotion_batches.view_promotions')} %>
              </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= render 'spree/admin/shared/index_table_options', collection: @promotions, simple: true %>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Promotion)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Promotion) %>!
  </div>
<% end %>
