<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_users_path %>
  <%= @user.email %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to_with_icon 'person.svg',
      Spree.t(:"admin.user.account"),
      spree.edit_admin_user_path(@user),
      class: "nav-link #{'active' if current == :account}" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'pin-map.svg',
      Spree.t(:"admin.user.addresses"),
      spree.addresses_admin_user_path(@user),
      class: "nav-link #{'active' if current == :address}" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'inbox.svg',
      Spree.t(:"admin.user.orders"),
      spree.orders_admin_user_path(@user),
      class: "nav-link #{'active' if current == :orders}" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'tag.svg',
      Spree.t(:"admin.user.items"),
      spree.items_admin_user_path(@user),
      class: "nav-link #{'active' if current == :items}" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'gift.svg',
      Spree.t(:"admin.user.store_credits"),
      spree.admin_user_store_credits_path(@user),
      class: "nav-link #{'active' if current == :store_credits}" %>
  </li>
<% end %>
