<% if f.object.persisted? && can?(:edit, f.object) %>
  <tr class="product_property fields" id="spree_<%= dom_id(f.object) %>" data-hook="product_property">
    <td class="move-handle">
      <%= render "spree/admin/shared/grab_handle" %>
    </td>
    <td class='property_name'>
      <%= f.text_field :property_name, class: 'autocomplete form-control', required: true %>
    </td>
    <td class='value'>
      <%= f.text_field :value, class: 'form-control', required: true %>
    </td>
    <td class="show_property text-center">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :show_property, { class: 'custom-control-input' } %>
        <%= f.label :show_property, '<span></span>'.html_safe , class: 'custom-control-label' %>
      </div>
    </td>

    <td class="actions">
      <span class="d-flex justify-content-end">
        <% if f.object.persisted? && can?(:destroy, f.object) %>
          <%= link_to_delete f.object, no_text: true %>
        <% end %>
      </span>
    </td>
  </tr>
<% end %>
