<tbody id="private_metadata_form">
    <% resource.private_metadata.each_with_index do |(key, value), index| %>
      <tr id="private_metadata_row_<%= key %>">
        <th scope="row">
          <input class="form-control" type="text" value="<%= key %>" name="[private_metadata][key][]" id="product_private_metadata_key">
        </th>
        <td>
          <input class="form-control" type="text" value="<%= value %>" name="[private_metadata][value][]" id="product_private_metadata_value">
        </td>
        <td>
          <%= link_to spree.delete_private_metadata_admin_product_path(resource, key), class: 'btn button btn-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <%= svg_icon name: "delete.svg", width: '16', height: '16', classes: 'p-0 m-0 mb-1' %>
          <% end %>
        </td>
      </tr>
    <% end %>
</tbody>

