<div class="card">
  <div class="card-header">
    <h3 class="mb-0 h6"><%= Spree.t('admin.metadata') %></h3>
  </div>
  <div class="card-body pb-0">
    <% if resource.public_metadata.present? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% resource.public_metadata.each_with_index do |(key, data), index| %>
          <tr>
            <th scope="row">
              <%= key %>
              <small class="form-text text-muted"><%= data[:description] %></small>
              <input class="form-control" type="hidden" value="<%= key %>" name="[public_metadata][key][]" id="product_public_metadata_key" readonly>
            </th>
            <td>
              <% case data[:type] %>
              <% when 'boolean' %>
                <%= select("[public_metadata][value]", "",[ ['True', 'true'], ['False', 'false'] ], { include_blank: false, selected: data[:value] }, {class: 'custom-select', data: { action: "change->input-type#update" } }) %>
              <% when 'integer' %>
                <input class="form-control" type="number" value="<%= data[:value] %>" name="[public_metadata][value][]" id="product_public_metadata_value">
              <% when 'float' %>
                <input class="form-control" type="number" value="<%= data[:value] %>" min="0" step="any" name="[public_metadata][value][]" id="product_public_metadata_value">
              <% else %>
                <input class="form-control" type="text" value="<%= data[:value] %>" name="[public_metadata][value][]" id="product_public_metadata_value">
              <% end %>
            </td>
            <td>
              <div class="custom-control custom-checkbox" data-controller="checkbox-hidden-input">
                <input type="checkbox" class="custom-control-input" id="delete_meta_line_<%= index%>" data-action="change->checkbox-hidden-input#toggleHiddenInputValue">
                <label class="custom-control-label" for="delete_meta_line_<%= index%>"><span></span></label>
                <input data-checkbox-hidden-input-target="input" class="form-control" type="hidden" value="0" name="[public_metadata][delete][]" id="product_public_metadata_delete">
              </div>
            </td>
            <input class="form-control" type="hidden" value="<%= data[:type] %>" name="[public_metadata][type][]" id="product_public_metadata_type">
            <input class="form-control" type="hidden" value="<%= data[:description] %>" name="[public_metadata][description][]" id="product_public_metadata_description">
          </tr>
      <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-primary" role="alert">
        No metadata set, begin adding metadata below.
      </div>
    <% end %>
  </div>

  <div class="card-footer" data-controller="input-type">
    <div class="row">
      <div class="col-4">
        <%= f.label :public_metadata, Spree.t('admin.metadata.type') %>
        <%= select("[public_metadata][type]", "",[ ['Text', 'string'], ['Integer', 'integer'], ['Decimal', 'float'], ['True/False', 'boolean'], ['Color Picker', 'color'], ['Date Picker', 'date'], ['Date-Time Picker', 'datetime'] ], { include_blank: false }, {class: 'custom-select', data: { action: "change->input-type#update" } }) %>
      </div>
      <div class="col-8 d-flex align-items-center">
        <span class="mt-3"> Select the metadata type you want to create, be aware once your new metadata type is created it can not be changed.</span>
      </div>
      <div class="col-12"><hr></div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= f.label :public_metadata, Spree.t('admin.metadata.key') %>
        <input class="form-control" type="text" value="" name="[public_metadata][key][]" id="product_public_metadata_key">
      </div>

      <div class="col-6">
        <%= f.label :public_metadata, Spree.t('admin.metadata.value') %>
        <input data-input-type-target="input" class="form-control" type="text" value="" name="[public_metadata][value][]" id="product_public_metadata_value">
      </div>

      <div class="col-12">
        <%= f.label :public_metadata, Spree.t('admin.metadata.description') %>
        <input class="form-control" type="text" value="" name="[public_metadata][description][]" id="product_public_metadata_description">
      </div>
    </div>
  </div>
</div>


