<% content_for :page_title do %>
  <%= Spree.t('admin.webhooks_subscribers.webhooks_subscribers') %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t('admin.webhooks_subscribers.new_webhooks_subscriber'), new_object_url, class: "btn-success", icon: 'add.svg', id: 'admin_new_webhooks_subscriber_link' %>
<% end if can?(:create, Spree::Webhooks::Subscriber) %>

<% if @webhooks_subscribers.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><%= Spree.t('admin.url') %></th>
        <th><%= Spree.t('admin.active') %></th>
        <th><%= Spree.t('admin.webhooks_subscribers.subscriptions') %></th>
        <th><%= Spree.t('admin.webhooks_subscribers.time_of_last_event') %></th>
        <th><%= Spree.t('admin.webhooks_subscribers.all_events') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @webhooks_subscribers.each do |webhooks_subscriber| %>
        <tr id="<%= spree_dom_id webhooks_subscriber %>">
          <td><%= webhooks_subscriber.url %></td>
          <td><%= active_badge(webhooks_subscriber.active) %></td>
          <td><%= webhooks_subscriber.subscriptions&.join(', ') %></td>
          <td><%= webhooks_subscriber.events.order(:created_at).last&.created_at %></td>
          <td><%= link_to Spree.t(:view), admin_webhooks_subscriber_path(webhooks_subscriber) %></td>
          <td class="actions">
          <span class="d-flex justify-content-end">
            <%= link_to_edit(webhooks_subscriber, no_text: true) if can? :edit, webhooks_subscriber %>
            <%= link_to_delete(webhooks_subscriber, no_text: true) if can? :delete, webhooks_subscriber %>
          </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= render 'spree/admin/shared/index_table_options', collection: @webhooks_subscribers, simple: true %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Webhooks::Subscriber)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::Webhooks::Subscriber %>!
  </div>
<% end %>
