<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :images } %>

<% content_for :page_actions do %>
  <% images_actions.items.each do |action| %>
    <% next unless action.available?(current_ability) %>
    <%= button_link_to(
      Spree.t(action.label_translation_key),
      action.url(@product),
      class: action.classes,
      icon: action.icon_key,
      id: action.id,
      target: action.target,
      data: action.data_attributes
    ) %>
  <% end %>
<% end %>

<% has_variants = @product.has_variants? %>

<% unless @product.variant_images.any? %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Image)) %>.
  </div>
<% else %>
<div class="table-responsive border rounded bg-white">
  <table class="table sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_product_images_url(@product) %>">
    <thead class="text-muted">
      <tr data-hook="images_header">
        <th></th>
        <th class="text-center">
          <%= Spree.t(:thumbnail) %>
        </th>
        <% if has_variants %>
          <th class="text-center">
            <%= Spree::Variant.model_name.human %>
          </th>
        <% end %>
        <th>
          <%= Spree.t(:alt_text) %>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody id="sortVert">
      <% (@product.variant_images).each do |image| %>
        <tr id="<%= spree_dom_id image %>" data-hook="images_row">
          <td class="move-handle text-center">
            <% if can? :edit, image %>
              <%= svg_icon name: "grip-vertical.svg", width: '14', height: '14' %>
            <% end %>
          </td>
          <td class="image text-center">
            <div class="admin-product-image-container small-img">
              <%= link_to image_tag(main_app.cdn_image_url(image.url(:product))), main_app.cdn_image_url(image.attachment), target: :blank %>
            </div>
          </td>
          <% if has_variants %>
            <td class="text-center"><%= options_text_for(image) %></td>
          <% end %>
          <td><%= image.alt %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_with_icon('edit.svg', Spree.t(:edit), spree.edit_admin_product_image_url(@product, image), class: 'btn btn-light btn-sm', no_text: true, data: { action: 'edit' }) if can? :edit, image %>
              <%= link_to_delete(image, { url: spree.admin_product_image_url(@product, image), no_text: true }) if can? :destroy, image %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
