<% content_for :page_title do %>
  <%= link_to Spree.t(:promotion_batches), admin_promotion_batches_path %> /
  <%= Spree.t(:new_promotion_batch) %>
<% end %>

<div class="card">
  <div class="card-body">
    <%= form_for :promotion_batch, url: collection_url do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    <% end %>
  </div>
</div>
