<% content_for :page_title do %>
  <%= link_to Spree.t(:promotion_batches), admin_promotion_batches_path %> /
  <%= @promotion_batch.id %>
<% end %>

<% content_for :page_actions do %>
  <% promotion_batch_actions.items.each do |action| %>
    <% next unless action.available?(current_ability) %>
    <%= button_link_to(
      Spree.t(action.label_translation_key),
      action.url(@promotion_batch),
      class: action.classes,
      icon: action.icon_key
    ) %>
  <% end %>
<% end %>

<table class="table">
  <thead class="text-muted">
    <tr>
      <th><%= Spree.t(:code) %></th>
      <th><%= Spree.t(:description) %></th>
      <th><%= Spree.t(:redeemed) %></th>
      <th><%= Spree.t(:expiration) %></th>
    </tr>
  </thead>
  <tbody>
    <% @promotion_batch.promotions.each do |promotion| %>
      <tr id="<%= spree_dom_id promotion %>">
        <td><%= promotion.code %></td>
        <td><%= promotion.description %></td>
        <td><%= promotion.credits_count == promotion.usage_limit ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td><%= promotion.expires_at.to_date if promotion.expires_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
