<div data-hook="admin_store_form_fields">
  <%= render partial: 'spree/admin/stores/form/basic', locals: { f: f } %>
  <%= render partial: 'spree/admin/stores/form/emails', locals: { f: f } %>
  <%= render partial: 'spree/admin/stores/form/internationalization', locals: { f: f } %>
  <% if @store.persisted? %>
    <%= render partial: 'spree/admin/stores/form/digitals', locals: { f: f } %>
    <%= render partial: 'spree/admin/stores/form/layout', locals: { f: f } %>
    <%= render partial: 'spree/admin/stores/form/seo', locals: { f: f } %>
    <%= render partial: 'spree/admin/stores/form/social', locals: { f: f } %>
    <%= render partial: 'spree/admin/stores/form/footer', locals: { f: f } %>
  </div>
<% end %>
