<% content_for :page_title do %>
  <%= Spree.t(:store) %>
  <%= render partial: 'spree/admin/stores/tabs', locals: {current: :details} %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @store } %>

<%= form_for [:admin, @store] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save.svg', 'submit', {class: 'btn-primary', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>

      <%= link_to_with_icon 'delete.svg', Spree.t(:delete), spree.admin_store_url(@store), { class: 'btn btn-danger float-right', data: { confirm: Spree.t(:are_you_sure), method: :delete } } if can?(:delete, @store) && @store.can_be_deleted? %>
    </div>
  </fieldset>
<% end %>
