<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      <%= Spree.t('Data feeds') %>
    </h5>
  </div>
  <div class="table-responsive border rounded bg-white">
    <table class="table" id="listing_data_feeds">
      <thead class="text-muted">
        <tr>
          <th scope="col" class="text-center"><%= Spree.t(:name) %></th>
          <th scope="col" class="text-center"><%= Spree.t(:provider) %></th>
          <th scope="col" class="text-center"><%= Spree.t('Enabled') %></th>
          <th scope="col" class="text-center"><%= Spree.t(:url) %></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :data_feed_settings do |data| %>
          <tr>
            <td class="text-center"><%= data.object.name %></td>
            <td class="text-center"><%= data.object.provider %></td>
            <td class="text-center"><%= data.check_box :enabled %></td>
            <td class="text-center"><code><%= data.object.formatted_url %></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
