<div class="card mb-4">
  <div class="card-header">
    <div class="card-title mb-0 h6">
      <%= Spree.t('admin.store_form.look_and_feel ') %>
    </div>
  </div>
  <div class="card-body">
    <%= f.field_container :logo do %>
      <% if @store.logo.attached? && @store.logo.variable? %>
        <%= image_tag main_app.cdn_image_url(@store.logo.variant(resize_to_limit: [244, 104])) %>
      <% elsif @store.logo.attached? && @store.logo.image? %>
        <%= image_tag main_app.cdn_image_url(@store.logo) %>
      <% end %>
      <%= f.field_container :logo do %>
        <%= f.label :logo, Spree.t(:logo) %><br>
        <%= f.file_field :logo %>
        <%= f.error_message_on :logo %>
      <% end %>
    <% end %>
    <%= f.field_container :mailer_logo do %>
      <% if @store.mailer_logo.attached? && @store.mailer_logo.variable? %>
        <%= image_tag main_app.cdn_image_url(@store.mailer_logo.variant(resize_to_limit: [244, 104])) %>
      <% end %>
      <%= f.field_container :mailer_logo do %>
        <%= f.label :mailer_logo, Spree.t(:mailer_logo) %><br>
        <%= f.file_field :mailer_logo, accept: Spree::Store::MAILER_LOGO_CONTENT_TYPES.join(',') %>
        <%= f.error_message_on :mailer_logo %>
      <% end %>
    <% end %>
    <%= f.field_container :favicon_image do %>
      <% if @store.favicon_image.attached? && @store.favicon_image.variable? %>
        <%= image_tag main_app.cdn_image_url(@store.favicon_image.variant(resize_to_limit: [104, 104])) %>
      <% end %>
      <%= f.field_container :favicon_image do %>
        <%= f.label :favicon_image, "#{Spree.t(:favicon)} (#{Spree.t(:favicon_upload_info)})" %><br>
        <%= f.file_field :favicon_image, accept: Spree::Store::FAVICON_CONTENT_TYPES.join(',') %>
        <%= f.error_message_on :favicon_image %>
      <% end %>
    <% end %>
  </div>
</div>
