<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      <%= Spree.t(:social) %>
    </h5>
  </div>
  <div class="card-body">
    <div class="alert alert-info">
      <%= Spree.t('admin.store_form.social_help') %>
    </div>

    <%= f.field_container :facebook do %>
      <%= f.label :facebook, Spree.t(:facebook) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">https://facebook.com</span>
        </div>
        <%= f.text_field :facebook, class: 'form-control' %>
      </div>
      <%= f.error_message_on :facebook %>
    <% end %>
    <%= f.field_container :twitter do %>
      <%= f.label :twitter, Spree.t(:twitter) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">https://twitter.com</span>
        </div>
        <%= f.text_field :twitter, class: 'form-control' %>
      </div>
      <%= f.error_message_on :twitter %>
    <% end %>
    <%= f.field_container :instagram do %>
      <%= f.label :instagram, Spree.t(:instagram) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">https://instagram.com</span>
        </div>
        <%= f.text_field :instagram, class: 'form-control' %>
      </div>
      <%= f.error_message_on :instagram %>
    <% end %>
  </div>
</div>
