<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Product) %>
<% end %>

<% content_for :page_actions do %>
  <% products_actions.items.each do |action| %>
    <% next unless action.available?(current_ability) %>
    <%= button_link_to(
      Spree.t(action.label_translation_key),
      action.url,
      class: action.classes,
      icon: action.icon_key,
      id: action.id
    ) %>
  <% end %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to Spree.t('admin.product.all'),
                spree.admin_products_path,
                class: "nav-link #{'active' if params[:q][:status_eq].blank?}" %>
  </li>
  <li class="nav-item">
    <%= link_to Spree.t('admin.product.active'),
                params.merge({q: {status_eq: :active}}).permit!,
                class: "nav-link #{'active' if params[:q][:status_eq] == 'active'}" %>
  </li>
  <li class="nav-item">
    <%= link_to Spree.t('admin.product.draft'),
                params.merge({q: {status_eq: :draft}}).permit!,
                class: "nav-link #{'active' if params[:q][:status_eq] == 'draft'}" %>
  </li>
  <li class="nav-item">
    <%= link_to Spree.t('admin.product.archived'),
                params.merge({q: {status_eq: :archived}}).permit!,
                class: "nav-link #{'active' if params[:q][:status_eq] == 'archived'}" %>
  </li>
<% end  %>

<% content_for :table_filter do %>
  <%= render partial: 'filters' %>
<% end %>

<% if @collection.any? %>
<div class="table-responsive border rounded bg-white">
  <table class="table" id="listing_products">
    <thead class="text-muted">
      <tr data-hook="admin_products_index_headers">
        <th scope="col" class="pl-5" colspan="2"><%= sort_link @search,:name, Spree.t(:name), { default_order: "desc" }, {title: 'admin_products_listing_name_title'} %></th>
        <% if defined?(Spree::Vendor) && can?(:manage, Spree::Vendor) %>
          <th scope="col" class="text-center"><%= Spree.t(:vendor) %></th>
        <% end %>
        <th scope="col" class="text-center"><%= Spree.t('admin.kind') %></th>
        <th scope="col" class="text-center"><%= Spree.t(:status) %></th>
        <th scope="col" class="text-center" class="text-center">
          <%= sort_link @search, :master_default_price_amount, Spree.t(:price), {}, {title: 'admin_products_listing_price_title'} %>
        </th>
        <th scope="col" class="text-center" data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |product| %>
        <% available_status = available_status(product) %>
          <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
            <td scope="row" class="image">
              <%= link_to edit_admin_product_path(product) do %>
                <%= small_image product %>
              <% end %>
            </td>
            <td>
              <%= link_to product.name, edit_admin_product_path(product) %>
              <br />
              <small><%= product.sku rescue '' %></small>
            </td>
            <% if defined?(Spree::Vendor) && can?(:manage, Spree::Vendor) %>
              <td class="text-center">
                <%= link_to product.vendor.name, spree.admin_vendor_path(product.vendor_id) if product.vendor.present? %>
              </td>
            <% end %>
            <td class="text-center">
              <span class="badge badge-pill badge-light">
                <% if product.digital? %>
                  <%= Spree.t('admin.product_kinds.digital') %>
                <% else %>
                  <%= Spree.t('admin.product_kinds.physical') %>
                <% end %>
              </span>
            </td>
            <td class="status text-center"><%= active_badge(available_status == Spree.t('admin.product.active'), label: available_status) %></td>
            <td class="text-center"><%= display_price(product) %></td>

            <td class="actions " data-hook="admin_products_index_row_actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit product, no_text: true, class: 'edit' if can?(:edit, product) && !product.deleted? %>
                <%= link_to_clone product, no_text: true, class: 'clone' if can?(:clone, product) %>
                <%= link_to_delete product, no_text: true if can?(:delete, product) && !product.deleted? %>
              </span>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Product)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Product) %>!
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
