<div class="card">
  <div class="card-header">
    <div class="row pb-0">
      <div class="col">
        <h3 class="mb-0"><%= Spree.t('admin.metadata.metadata') %></h3>
      </div>

      <div class="col text-right" id="add_public_metadata_fields_form">
        <%= form_with url: admin_add_public_metadata_path, method: :post, format: :turbo_stream do |f| %>
          <%= f.submit Spree.t('admin.add'), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body pb-0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= Spree.t('admin.metadata.key') %></th>
          <th scope="col"><%= Spree.t('admin.metadata.value') %></th>
          <th scope="col"><%= Spree.t('admin.metadata.actions') %></th>
        </tr>
      </thead>
        <%= render partial: 'spree/admin/public_metadata/table', locals: { resource: @product } %>
    </table>
  </div>
</div>


