<tbody id="metadata_form">
    <% resource.public_metadata.each_with_index do |(key, value), index| %>
      <tr id="metadata_row_<%= key %>">
        <th scope="row">
          <input class="form-control" type="text" value="<%= key %>" name="[public_metadata][key][]" id="product_public_metadata_key">
        </th>
        <td>
          <input class="form-control" type="text" value="<%= value %>" name="[public_metadata][value][]" id="product_public_metadata_value">
        </td>
        <td>
          <%= link_to admin_delete_public_metadata_path(resource.class.name, resource.id, key), class: 'btn button btn-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <%= svg_icon name: "delete.svg", width: '16', height: '16', classes: 'p-0 m-0 mb-1' %>
          <% end %>
        </td>
      </tr>
    <% end %>
</tbody>

