<% if try_spree_current_user %>
  <div class="btn-group">

    <button id="accountNav" type="button" class="btn text-light px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= svg_icon name: "user.svg", width: '24', height: '24', classes: 'mb-0' %>
    </button>

    <div class="dropdown-menu dropdown-menu-right overflow-hidden mt-2 p-0 mr-2">
      <div class="dropdown-item px-0 text-center bg-light">
        <span class="d-block"><%= try_spree_current_user.try(:email) %></span>
      </div>
      <div class="dropdown-divider m-0"></div>

      <% if spree.respond_to? :root_path %>
          <%= link_to spree.root_path, target: :blank, class: 'd-block my-1 dropdown-item', data: { turbo: false } do %>
            <%= svg_icon name: "store.svg", width: '14', height: '14' %>
            &nbsp;
            <%= Spree.t(:back_to_store) %>
          <% end %>
      <% end %>

      <% if can?(:manage, try_spree_current_user) && try_spree_current_user.persisted? %>
          <%= link_to spree.edit_admin_user_path(try_spree_current_user), class: 'd-block my-1 dropdown-item' do %>
            <%= svg_icon name: "user.svg", width: '14', height: '14' %>
            &nbsp;
            <%= Spree.t(:account) %>
          <% end %>
      <% end %>

      <% if admin_logout_link %>
          <%= link_to admin_logout_link, class: 'd-block my-1 dropdown-item' do %>
            <%= svg_icon name: "exit.svg", width: '14', height: '14' %>
            &nbsp;
            <%= Spree.t(:logout) %>
          <% end %>
      <% end %>

      <div class="dropdown-divider"></div>

        <%= link_to 'http://docs.spreecommerce.org', target: :blank, class: 'd-block my-1 dropdown-item' do %>
        <%= svg_icon name: "book.svg", width: '14', height: '14' %>
          &nbsp;
          <%= Spree.t(:documentation) %>
        <% end %>

        <%= link_to 'http://spreecommerce.org/contact', target: :blank, class: 'd-block my-1 dropdown-item' do %>
        <%= svg_icon name: "chat-dots.svg", width: '14', height: '14' %>
          &nbsp;
          <%= Spree.t(:enterprise_support) %>
        <% end %>

        <%= link_to 'http://slack.spreecommerce.org', target: :blank, class: 'd-block my-1 dropdown-item' do %>
        <%= svg_icon name: "slack.svg", width: '14', height: '14' %>
          &nbsp;
          <%= Spree.t(:join_slack) %>
        <% end %>

        <%= link_to 'https://docs.spreecommerce.org/developer/extending-spree/3rd-party-extensions', target: :blank, class: 'd-block my-1 dropdown-item' do %>
        <%= svg_icon name: "extensions.svg", width: '14', height: '14' %>
          &nbsp;
          <%= Spree.t(:extensions) %>
        <% end %>

        <div class="dropdown-divider"></div>

        <div class="dropdown-header">
          Developed by
        </div>

        <%= link_to image_tag('vendo_logo.png', height: 24), 'https://getvendo.com?utm_source=spree-admin', target: :blank, class: 'dropdown-item mb-2 with-tip', title: 'Vendo - The fastest way to build your own e-commerce business', data: { toggle: 'tooltip', placement: 'left' } %>
    </div>
  </div>
<% end %>
