<nav class="pb-3 pt-lg-3 px-1">
  <div class="text-right d-lg-none pl-3 py-2 border-bottom d-flex align-items-center">
    <div class="d-flex flex-grow-1 text-primary"></div>
    <button
      id="sidebar-close"
      class="btn btn-link d-flex"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <%= svg_icon name: "cancel.svg", width: '20', height: '20', classes: 'p-0 m-0' %>
    </button>
  </div>

  <% main_menu.items.each do |item| %>
    <% next unless item.available?(current_ability, current_store) %>

    <ul class="nav nav-sidebar" id="sidebar<%= item.key.upcase %>>">
      <% if item.children? %>
        <li class="sidebar-menu-item d-block w-100 text-muted">
          <%= main_menu_item(Spree.t(item.label_translation_key), url: "#sidebar-#{item.key}", icon: item.icon_key) %>

          <ul id="sidebar-<%= item.key %>" class="collapse nav nav-pills nav-stacked pb-2" data-hook="admin_orders">
            <% item.items.each do |section_item| %>
              <% next unless section_item.available?(current_ability, current_store) %>

              <%= tab(Spree.t(section_item.label_translation_key), url: section_item.url.is_a?(Proc) ? section_item.url.call(current_store) : section_item.url, match_path: section_item.match_path, icon: section_item.icon_key) %>
            <% end %>
          </ul>
        </li>
      <% else %>
        <%= tab(Spree.t(item.label_translation_key), url: item.url.is_a?(Proc) ? item.url.call(current_store) : item.url, match_path: item.match_path, icon: item.icon_key) %>
      <% end %>
    </ul>
  <% end %>
</nav>
