<% content_for(:sidebar) do %>
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="card-title mb-0 h6"><%= Spree.t(:summary) %></h3>
    </div>
    <ul class="list-group list-group-flush" id="order_tab_summary">
      <li class="list-group-item d-flex justify-content-between align-items-center" id="order_status">
        <%= Spree.t(:status) %>
        <span class="state badge badge-<%= @order.state %> badge-pill text-uppercase">
          <%= Spree.t(@order.state, scope: :order_state) %>
        </span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center" data-hook='admin_order_tab_channel_title'>
        <%= Spree.t(:channel) %>
        <span class="state badge badge-pill text-uppercase" id='order_channel'>
          <%= @order.channel %>
        </span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center" data-hook='admin_order_tab_subtotal_title'>
        <%= Spree.t(:subtotal) %>
        <span class="state badge badge-pill text-uppercase" id='item_total'>
          <%= @order.display_item_total.to_html %>
        </span>
      </li>

      <% if @order.checkout_steps.include?("delivery") && @order.ship_total > 0 %>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-hook='admin_order_tab_ship_total_title'>
          <%= Spree.t(:ship_total) %>
          <span class="state badge badge-pill text-uppercase" id='ship_total'>
            <%= @order.display_ship_total.to_html %>
          </span>
        </li>
      <% end %>

      <% if @order.included_tax_total != 0 %>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-hook='admin_order_tab_included_tax_title'>
          <%= Spree.t(:tax_included) %>
          <span class="state badge badge-pill text-uppercase" id='included_tax_total'>
            <%= @order.display_included_tax_total.to_html %>
          </span>
        </li>
      <% end %>

    </ul>

    <!--
        <% if @order.additional_tax_total != 0 %>
          <tr>
            <td data-hook='admin_order_tab_additional_tax_title'>
              <strong><%= Spree.t(:tax) %>:</strong>
            </td>
            <td id='additional_tax_total'>
              <%= @order.display_additional_tax_total.to_html %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td data-hook='admin_order_tab_total_title'>
            <strong><%= Spree.t(:total) %>:</strong>
          </td>
          <td id='order_total'><%= @order.display_total.to_html %></td>
        </tr>

        <% if @order.completed? %>
          <% if @order.shipment_state.present? %>
            <tr>
              <td>
                <strong><%= Spree.t(:shipment) %>:</strong>
              </td>
              <td id='shipment_status'>
                <span class="state badge badge-<%= @order.shipment_state %> text-uppercase">
                  <%= Spree.t(@order.shipment_state, scope: :shipment_states, default: [:missing, "none"]) %>
                </span>
              </td>
            </tr>
          <% end %>
          <% if @order.payment_state.present? %>
            <tr>
              <td>
                <strong><%= Spree.t(:payment) %>:</strong>
              </td>
              <td id='payment_status'>
                <span class="state badge badge-<%= @order.payment_state %> text-uppercase">
                  <%= Spree.t(@order.payment_state, scope: :payment_states, default: [:missing, "none"]) %>
                </span>
              </td>
            </tr>
          <% end %>
          <tr>
            <td data-hook='admin_order_tab_date_completed_title'>
              <strong><%= Spree.t(:date_completed) %>:</strong>
            </td>
            <td id='date_complete'>
              <%= pretty_time(@order.completed_at) %>
            </td>
          </tr>
        <% end %>

        <% if @order.approved? %>
          <tr>
            <td><strong><%= Spree.t(:approver) %></strong></td>
            <td><%= @order.approver.try(:email) %></td>
          </tr>
          <tr>
            <td><strong><%= Spree.t(:approved_at) %></strong></td>
            <td><%= pretty_time(@order.approved_at) %></td>
          </tr>
        <% end %>

        <% if @order.canceled? && @order.canceler && @order.canceled_at %>
          <tr>
            <td><strong><%= Spree.t(:canceler) %></strong></td>
            <td><%= @order.canceler.email %></td>
          </tr>
          <tr>
            <td><strong><%= Spree.t(:canceled_at) %></strong></td>
            <td><%= pretty_time(@order.canceled_at) %></td>
          </tr>
        <% end %>
      </tbody>-->
    </div>
  </div>
<% end %>
