<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :payments } %>

<% content_for :page_actions do %>
  <% payments_actions.items.each do |action| %>
    <% next unless action.available?(current_ability, @order) %>
    <%= button_link_to(
      Spree.t(action.label_translation_key),
      action.url(@order),
      class: action.classes,
      icon: action.icon_key,
      id: action.id
    ) %>
  <% end %>
<% end %>

<% if @order.outstanding_balance? %>
  <div class="alert alert-info outstanding-balance">
    <%= @order.outstanding_balance < 0 ? Spree.t(:credit_owed) : Spree.t(:balance_due) %>: <strong><%= @order.display_outstanding_balance %></strong>
  </div>
<% end %>

<% if @payments.any? %>
  <div data-hook="payment_list" class="mb-3 table-responsive">
    <%= render partial: 'list', locals: { payments: @payments } %>
  </div>

  <% if @refunds.any? %>
    <fieldset data-hook="payment_list" class="no-border-bottom">
      <legend><%= Spree.t(:refunds) %></legend>
      <%= render partial: 'spree/admin/shared/refunds', locals: { refunds: @refunds, show_actions: true } %>
    </fieldset>
  <% end %>

<% else %>
  <div class="text-center no-objects-found m-5"><%= Spree.t(:order_has_no_payments) %></div>
<% end %>

<%= render partial: 'spree/admin/shared/order_summary' %>
