<div data-hook="admin_stock_movements_form_fields">
  <%= f.field_container :quantity do %>
    <%= f.label :quantity, Spree.t(:quantity) %>
    <%= f.text_field :quantity, class: 'form-control' %>
  <% end %>
  <%= f.field_container :stock_item_id do %>
    <%= f.label :stock_item_id, Spree.t(:stock_item_id) %>
    <%= select_tag 'stock_movement[stock_item_id]', nil , id: 'stock_movement_stock_item_id', class: 'd-block w-100', :'data-stock-location-id' => params[:stock_location_id] %>
  <% end %>
</div>

<%= render partial: "spree/admin/variants/autocomplete", formats: :js %>
